<div class="contenedor">
    <h1>Nueva Actividad de Parques temáticos</h1>

    <%= render 'form', act_ptematico: @act_ptematico %>
    <div class="enlcae">
        <%= link_to 'Atrás', act_ptematicos_path %>
    </div>
</div>