<div class="contenedor">
    <h1>Editar sitio de Trajes tradicionales: <%= @art_ttradicionale.subtitulo%> </h1>

    <%= render 'form', art_ttradicionale: @art_ttradicionale %>
    <div class="enlace">
        <%= link_to 'Mostrar', @art_ttradicionale %> 
        <%= link_to 'Atrás', art_ttradicionales_path %>
    </div>
</div>