 <div class="contenedor">
    <h1>Editar sitio de platos típicos: <%= @gast_plato.subtitulo%> </h1>

    <%= render 'form', gast_plato: @gast_plato %>

    <div class="enlace">
        <%= link_to 'Mostrar', @gast_plato %>
        <%= link_to 'Atrás', gast_platos_path %>
    </div>
</div>
