<div class="contenedor">
    <h1>Nuevo sitio de Parque natural</h1>

    <%= render 'form', adnd_pnaturale: @adnd_pnaturale %>
    <div class="enlace">
        <%= link_to 'Atrás', adnd_pnaturales_path %>
    </div>
</div>