<div class="contenedor">
    <h1>Nueva Pregunta frecuente</h1>

    <%= render 'form', preguntasfrecuente: @preguntasfrecuente %>
    <div class="enlace">
        <%= link_to 'Atrás', preguntasfrecuentes_path %>
    </div>
</div>