<div class="contenedor">
    <h1>Nuevo lugar de Playa</h1>

    <%= render 'form', adnd_playa: @adnd_playa %>
    <div class="enlace">
        <%= link_to 'Atrás', adnd_playas_path %>
    </div>
</div>