<div class="contenedor">
    <h1>Editar sitio de Museo: <%= @adnd_museo.subtitulo%></h1>

    <%= render 'form', adnd_museo: @adnd_museo %>

    <div class="enlace">
        <%= link_to 'Mostrar', @adnd_museo %>
        <%= link_to 'Atrás', adnd_museos_path %>
    </div>
</div>
