<div class="contenedor">
    <h1>Nuevo sitio de Museo</h1>

    <%= render 'form', adnd_museo: @adnd_museo %>
    <div class="enlace">
        <%= link_to 'Atrás', adnd_museos_path %>
    </div>
</div>