<!DOCTYPE html>
<html>
  <head>
    <title>INICIO</title>
  </head>

  <body>
    <h1>INICIO</h1>
  
    <h3>ARTESANIA</h3>
        <a href = "http://127.0.0.1:3000/art_alfareris" target = "_self">Artesania - Alfarería<br></a>
        <a href = "http://127.0.0.1:3000/art_canteris" target = "_self">Artesania - Cantería<br></a>
        <a href = "http://127.0.0.1:3000/art_cuchilleris" target = "_self">Artesania - Cuchillería<br></a>
        <a href = "http://127.0.0.1:3000/art_ttradicionales" target = "_self">Artesania - Trajes tradicionales<br></a>
    <h3>GASTRONOMIA</h3>
        <a href = "http://127.0.0.1:3000/gast_platos" target = "_self">Gastronomia - Platos<br></a>
        <a href = "http://127.0.0.1:3000/gast_postres" target = "_self">Gastronomia - Postres<br></a>
    <h3>A DONDE IR</h3>
        <a href = "http://127.0.0.1:3000/adnd_museos" target = "_self">A donde ir - Museos<br></a>
        <a href = "http://127.0.0.1:3000/adnd_pnaturales" target = "_self">A donde ir - Parques Naturales<br></a>
        <a href = "http://127.0.0.1:3000/adnd_playas" target = "_self">A donde ir - Playas<br></a>
    <h3>ACTIVIDADES</h3>
        <a href = "http://127.0.0.1:3000/act_buceos" target = "_self">Actividades - Buceo<br></a>
        <a href = "http://127.0.0.1:3000/act_ptematicos" target = "_self">Actividades - Parques temáticos<br></a>
        <a href = "http://127.0.0.1:3000/act_senderismos" target = "_self">Actividades - Senderismo<br></a>

    <h3>PREGUNTAS FRECUENTES</h3>
        <a href = "http://127.0.0.1:3000/preguntasfrecuentes" target = "_self">Preguntas Frecuentes<br></a>
  </body>
</html>
