<h1>Editar sitio de Cuchillos canarios: <%= @art_cuchilleri.subtitulo%> </h1>

<%= render 'form', art_cuchilleri: @art_cuchilleri %>

<%= link_to 'Mostrar', @art_cuchilleri %> |
<%= link_to 'Atrás', art_cuchilleris_path %>
