<div class="contenedor">
    <h1>Nuevo sitio de Cuchillos canarios</h1>

    <%= render 'form', art_cuchilleri: @art_cuchilleri %>
    <div class="enlace">
        <%= link_to 'Atrás', art_cuchilleris_path %>
    </div>
</div>
