<div class="contenedor">
    <h1>Nueva Actividad de Senderismo</h1>

    <%= render 'form', act_senderismo: @act_senderismo %>
    <div class="enlace">
        <%= link_to 'Atrás', act_senderismos_path %>
    </div>
</div>