body {
  background-color: #d0d3d4; 
  color: #333;
  margin: 33px; 
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000; }

a:visited {
  color: #666; }

a:hover {
  color: black;
  background-color:grey; 
}

/* Añadido */
table {
  border-collapse:collapse;
} 

td {
  background-color: #f2fff2;
}

td, th {
  border: 0.5px solid black;
  //border
}

th {
  background-color:  #5d6d7e;
  color:#fff;
  padding-bottom: 5px;
}

td:hover {background-color: rgb(157, 212, 205);}

/*****/
td a:hover {
  background-color:  #d0d3d4;
  color: black;
}

td:visited {
  color:#666;
}

td {
  padding: 0 5px 7px; }

div.field,
div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
 }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px -7px 0;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

label {
  display: block; }

.contenedor {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contenedor h1{
  padding:12px;
  color: #5d6d7e;
}

.enlace {
  margin: 10px;
  padding: 10px;
}
.enlace a{
  padding: 6px;
  border-radius: 0.25em;
  font-family: verdana, arial, sans-serif;
  font-size: 9pt;
  font-weight: bold;
  background-color: #5d6d7e;
  color: #fff;
  text-decoration: none; 
}

input[type=submit]{
  display:block;
  margin:auto;
}

input[type=text], input[type=email], input[type=url]{
  padding: 8px;
  width: 230px;
}

.field {
  width: 230px;
}

textarea {
  width: 25%;
  height: 120px;
}

label {
  padding: 3px;
}