<h1>Editar sitio de postres típicos: <%= @gast_postre.subtitulo%> </h1>

<%= render 'form', gast_postre: @gast_postre %>

<%= link_to 'Mostrar', @gast_postre %> |
<%= link_to 'Atrás', gast_postres_path %>
